* {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
}
body {
	background: rgb(255, 132, 0);
	background: linear-gradient(
		45deg,
		rgba(255, 132, 0, 0.6222688904663427) 0%,
		rgba(0, 159, 255, 0.5) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: rgb(15, 15, 15);
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}
header {
	text-align: center;
	margin-bottom: 2rem;
}
header h1 {
	margin: 2rem 0;
	font-size: 3rem;
}
header a {
	color: rgb(47, 91, 136);
	text-decoration: none;
	margin: 0 0.5rem;
	border-bottom: 3px double;
	transition: all ease-in-out 1s;
}
header a:hover {
	transform: scale(1.5%);
}
footer {
	margin: 2rem 0;
}
.profile-cont {
	width: 200px;
}
.profile-cont img {
	border-radius: 50%;
}
form {
	text-align: center;
}
form button,
#address {
	outline: none;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.5rem;
}
.weather {
	margin-top: 1rem;
	padding-left: 0.5rem;
}
.weather > * {
	margin-bottom: 0.5rem;
}
.error {
	color: red;
}
button {
	cursor: pointer;
}
